html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end reset*/

.wrapper {
    background: url(../img/bg.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    margin: 0 auto;
    width: 655px;
    background: rgba(19,19,19,.6);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.game_name {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

img {
    widows: 200px;
    height: 250px;
    padding: 0 20px
}

p {
    color: #fff;
}

.line {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

p {
    padding: 10px 0px 10px 4px;
}

.dowl32:hover, .dowl64:hover {
    background: rgba(53,161,85,.8);
}

.dowl32 {
    background: #35a155;
    height: 32px;
    width: 150px;
    color: floralwhite;
    text-align: center;
    padding-top: 15px;
    margin-right: 30px;
    
}

.dowl64 {
    background: #35a155;
    height: 32px;
    width: 150px;
    color: floralwhite;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
}

.content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #4a545c;
	border-radius: 10px;
}

.content::-webkit-scrollbar
{
	width: 5px;
	background-color: #4a545c;
}

.content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, #151719),
        color-stop(0.72, #151719),
        color-stop(0.86, #151719));
}